data/
cards/
manifest.yml
_book/
_freeze/
**/_freeze/
.quarto/
**/.quarto/
*_files/
working/
.DS_Store
files/*solution*
files/*exam*
.Rhistory

/.quarto/
**/*.quarto_ipynb
._htmlbook_xref.json
slides/*.html
